<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/DaneStyleSheet.css" rel="stylesheet" />
@model Project1.Models.Question


@{
    ViewBag.Title = "Bio";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li><a href="@Url.Action("Index","FreeLance")">Freelancer</a></li>
    <li class="active">@ViewBag.Name</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/@(ViewBag.name)/@(ViewBag.picture)" class="img-responsive"/>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 text-center"><h2>@ViewBag.Name</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center"><p>@ViewBag.bio</p></div>
            </div>

        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="page-header">
                 <h3><a href="@ViewBag.portfolio">Visit Our Full Website!</a></h3>
            </div> 
        </div>
    </div>
</div>

<div class="container">
    <div id="">
        @Html.Partial("Questions")
    </div>
</div>

<div class="container">
    <br />
    <hr class="side" />

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h4 style="display:inline;">PERSON'S NAME</h4> - 
                    <p style="display:inline; font-weight:700;">DATE Question WAS POSTED</p> 
                </div>
                <div class="col-xs-4">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Question posted here.</p>
                </div>
            </div>
           
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <a data-toggle="collapse" href="#collapse1">Answer this Question</a>
                </div>
            </div>
            <div class="row">
                <div id="collapse1" class="panel-collapse collapse">
                    @Html.Partial("Questions")
                </div>
            </div>
        </div>
    </div>
</div>

@{foreach (Q item in qs)
    {

    }

