@model WedSpread.Models.Freelancer
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/DaneStyleSheet.css" rel="stylesheet" />

@{
    ViewBag.Title = "Bio";
}

<!--Breadcrumb item-->
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li><a href="@Url.Action("Index","FreeLance")">Freelancer</a></li>
    <li class="active">@Model.FreelancerName</li>
</ol>

<!--Display dynamic view based on viewbag-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/@(Model.FreelancerPicture)" class="img-responsive" />
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 text-center"><h2>@Model.FreelancerName</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center"><p>@Model.FreelancerEmail</p></div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="page-header">
                <h3><a href="@Model.FreelancerWebsite">Visit Our Full Website!</a></h3>
            </div>
        </div>
    </div>
</div>


<!--display faqs passed through the dictionary object and reply to questions asked-->
<br />
<hr class="side" />
<h3>FAQs</h3>
<div class="panel-group" id="accordion">
    
    @foreach (var item in Model.Questions)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@item.QuestionID">
                    <h4 class="panel-title" style="display:inline;">
                        @item.Question1
                    </h4> -
                    <p class="text-muted" style="display:inline;">@item.User.UserEmail</p>
                </a>
            </div>
            <div id="collapse-@item.QuestionID" class="panel-collapse collapse">
                @if (item.Answer == null)
                {
                    <div class="panel-body">
                        <p>This question hasn't been answered yet!</p>

                    </div>
                }
                else
                {
                    <div class="panel-body">
                        @item.Answer

                    </div>
                }
            </div>
        </div>
    }
</div>

@if (User.Identity.IsAuthenticated == true)
{
    
    <!--ask a question form-->
    <div class="container">
        <div id="">
            <!--Question form-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Questions?</h3>
                        @using (Html.BeginForm("PostQuestions", "FreeLance", "POST"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("UserID", Convert.ToString(Model.UserID))
                            @Html.Hidden("FreelancerID", Convert.ToString(Model.FreelancerID))
                            
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBox("Name", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        @Html.Label("Question", htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextArea("Question", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4" style="padding-top: 15px;">
                                    <div class="col-xs-4 col-sm-offset-4 text-center center-block">
                                        <button type="Submit" value="submit" class="btn btn-primary" style="background-color: #3885c9; width: 10em;" id="panel-content">Submit</button>
                                    </div>
                                </div>
                            </div>
                        
                        }
                       
                    </div>
                </div>
            </div>


        </div>
    </div>
}
else
{
   <div class="row">
       <div class="col-md-4 col-md-offset-4">
           <h4>Please @Html.ActionLink("log in","Login", "Account") to ask a question</h4>
       </div>
   </div>
}


